body {
  background-color: rgb(31, 31, 31);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  color: grey;
}
form h3{
  margin: 0;
}
form .product-card {
  background-color: blanchedalmond;
  padding: 1rem;
  max-width: 70vw;
  border-radius: 5px;
  margin: 5rem auto;
  
}
form .product-card input{
  margin: 0.5rem 0;
  border-radius: 2px;
  border: 0.5px solid grey;
  padding: 0.2rem;
  max-width: 14rem; 
}
form .product-card .container-counter {
  margin: 0 1rem;
  font-family: monospace,sans-serif;
}
.text-counter.warning {
  color: rgb(255, 70, 70);
}
form .product-card input.warning {
  background-color: rgb(255, 181, 181);
}
.text-counter.error {
  color: rgb(255, 9, 9);
}
form .product-card input.error {
  background-color: rgb(255, 106, 106);
}
form .product-card button {
  display: block;
  background-color: rgb(202, 78, 0);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
}
footer {
  text-align: center;
  background-color: rgb(170, 65, 12);
  padding: 3rem;
}
footer a {
  text-decoration: none;
  color:antiquewhite;
  font-size: 1rem;
}
footer a:hover {
  text-decoration: underline;
  text-decoration-color: antiquewhite;
  text-shadow: 1px 1px 1px black;
}