body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
header, section, header p {
  color: rgb(19, 19, 19);
  text-align: center;
  margin: 3rem 0 0 0;
}
section {
  background-color: blanchedalmond;
  padding: 2rem;
  width: 55vw;
  margin: 3rem auto;
  border-radius: 6px;
  box-shadow: 0 0 8px rgb(106, 106, 106);
  font-size: 1.1rem;
}
button {
  border: none;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
  background-color: rgb(235, 217, 53);
  border-radius: 4px;
}
button:hover {
  background-color: rgb(221,199,5);
  border-color: rgb(221,199,5);
}
p.bigger-font {
  font-size: 1.4rem;
}